pandas
yfinance
numpy
scikit-learn
tensorflow  # Keras est maintenant inclus dans TensorFlow
matplotlib
openpyxl

#pip install -r requirements.txt
#pour installer les packages qui appellent dans le fichier 'stockprediction.ipynb'